<h1>Creative Mode</h1>


<%= form_tag("/songs", method: "get") do %>
  <div>
    <%= collection_select(:element, :element_library_id, ElementLibrary.all, :id, :name) %>
    <%= select("length", "length_id", [[ "1", 1 ], [ "2", 2 ], ["4", 4], ["8", 8]]) %>
  </div>
  <div>
    <%= collection_select(:element, :element_library_id, ElementLibrary.all, :id, :name) %>
    <%= select("length", "length_id", [[ "1", 1 ], [ "2", 2 ], ["4", 4], ["8", 8]]) %>
  </div>
  <%= submit_tag("Done With Basics") %>
<% end %>