
<div class="container">
  <h1>My Songs: </h1>
  <div class="row">
  <% @songs.each do |song| %>
    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><a href="/songs/<%= song.id %>"><%= song.name %></a></h3>
            <h4> Key: <%= song.key.tonic %> </h4>
            <h4> Time Signature: <%= song.time_signature.name %> </h4>
            <h4> Tempo: <%= song.tempo.bpm %> bpm</h4>
            <p><a href="/songs/<%= song.id %>" class="btn btn-default" role="button">View</a> <a href="/structures" class="btn btn-default" role="button">Edit Chords</a> <a href="/structures/<%= song.id %>" class="btn btn-default" role="button">Perform</a> </p>
          </div>
        </div>
      </div>
<!--   </div> -->
  <% end %>
</div>


<!-- <h1>My Songs: </h1>
<% @songs.each do |song| %>
  <h2> <a href="/songs/<%= song.id %>"><%= song.name %></a> </h2>
  <h4> Key: <%= song.key.tonic %> </h4>
  <h4> Time Signature: <%= song.time_signature.name %> </h4>
  <h4> Tempo: <%= song.tempo.bpm %> bpm</h4>
  <%= link_to 'Edit', "/structures" %>
  <%= link_to 'Perform', "/structures/#{song.id}" %>
<% end %> -->