<h1>My Songs: </h1>
<% @songs.each do |song| %>
  <h2> <%= song.name %> </h2>
  <h4> <%= song.key.tonic %> </h4>
  <h4> <%= song.key.quality %> </h4>
  <h4> <%= song.time_signature.beat_unit %> </h4>
  <h4> <%= song.time_signature.bar %> </h4>
  <h4> <%= song.tempo.bpm %> </h4>
  <%= link_to 'Edit', "/songs/#{song.id}/edit" %>
  <%= link_to 'Perform', "/songs/#{song.id}/perform" %>
  <%= link_to 'Print', "/songs/#{song.id}/print" %>
<% end %>