<h1>My Songs: </h1>
<% @songs.each do |song| %>
  <h2> <a href="/songs/<%= song.id %>"><%= song.name %></a> </h2>
  <h4> Key: <%= song.key.tonic %> </h4>
  <h4> Time Signature: <%= song.time_signature.name %> </h4>
  <h4> Tempo: <%= song.tempo.bpm %> bpm</h4>
  <%= link_to 'Edit', "/structures" %>
  <%= link_to 'Perform', "/structures/#{song.id}" %>
<% end %>